//
// Common
//------------------------------------------

.highlight {
    padding: 0 $indent-base;
    color: $color-white;

    &-dark {
        background-color: $color-black;
    }

    &-red {
        background-color: $color-main;
    }
}